{% extends 'pacientes/base.html' %}
{% load static %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet">
{% endblock %}

<!-- Sobrescribimos las clases de las columnas -->
{% block right_column_class %}hidden{% endblock %}
{% block left_column_class %}left-full{% endblock %}

{% block left_content %}
<div id="calendar"></div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
    
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'es', 
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            buttonText: {
                today: 'Hoy',
                month: 'Mes',
                week: 'Semana',
                day: 'Día',
                list: 'Lista'
            },
            events: {
                url: "{% url 'get_sessions' %}", 
                method: 'GET',
                failure: function() {
                    alert("No se pudieron cargar las sesiones.");
                }
            },
            
            eventDidMount: function(info) {
                // Agregue información adicional
                info.el.title = `
                    Especialista: ${info.event.extendedProps.specialist}
                    Sala: ${info.event.extendedProps.room}
                `;
            },
            editable: true,
            selectable: true,
            eventClick: function(info) {
                info.jsEvent.preventDefault();
                
                if (info.event.extendedProps.session_id) {
                    window.location.href = `/sessions/${info.event.extendedProps.session_id}/`; 
                } else {
                    console.warn('No se encontró el ID de la sesión para este evento');
                }
            }
        });
    
        calendar.render();
    });
    </script>
{% endblock %}
