{% extends 'pacientes/base.html' %}
{% load static %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet">
{% endblock %}

<!-- Sobrescribimos las clases de las columnas -->
{% block right_column_class %}hidden{% endblock %}
{% block left_column_class %}left-full{% endblock %}

{% block left_content %}
<div id="calendar"></div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    // Inicializar FullCalendar
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'es', // Cambiar el idioma a español
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        buttonText: {
            today: 'Hoy',
            month: 'Mes',
            week: 'Semana',
            day: 'Día',
            list: 'Lista'
        },
        events: {
            url: "/api/activities/",
            method: 'GET',
            failure: function() {
                alert("No se pudieron cargar los eventos.");
            }
        },
        editable: true,
        selectable: true,
        eventClick: function(info) {
            info.jsEvent.preventDefault();
            if (info.event.url) {
                window.open(info.event.url, '_blank');
            }
        }
    });

    calendar.render();
});
</script>
{% endblock %}
