{% extends 'pacientes/base.html' %}

{% block content %}
<h1 class="title">Editar Sesión</h1>
<ul class="breadcrumbs">
    <li><a href="{% url 'patient_list' %}">Inicio</a></li>
    <li class="divider">/</li>
    <li><a href="{% url 'calendar' %}">Agenda</a></li>
    <li class="divider">/</li>
    <li><a href="{% url 'session_detail' session.id %}">Sesión</a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active">Editar</a></li>
</ul>

<div>
    <div>
        <div>
            <h2>{{ session.patient.name }}  {{ session.patient.surname }}</h2>
        </div>

        <div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div>
                    <div>
                        <div>
                            <label>{{ form.date.label }}</label>
                            {{ form.date }}
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>{{ form.time.label }}</label>
                            {{ form.time }}
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <div>
                            <label>{{ form.specialist.label }}</label>
                            {{ form.specialist }}
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>{{ form.room.label }}</label>
                            {{ form.room }}
                        </div>
                    </div>
                </div>

                <div>
                    <label>{{ form.objective.label }}</label>
                    {{ form.objective }}
                </div>

                <div>
                    <label>{{ form.activity.label }}</label>
                    {{ form.activity }}
                </div>

                <div>
                    <label>{{ form.materials.label }}</label>
                    {{ form.materials }}
                </div>

                <div>
                    <label>{{ form.observation.label }}</label>
                    {{ form.observation }}
                </div>

                <div>
                    <label>{{ form.attachment.label }}</label>
                    {{ form.attachment }}
                    {% if session.attachment %}
                        <p>Archivo actual: {{ session.attachment.name }}</p>
                    {% endif %}
                </div>

                <div>
                    <div>
                        <div>
                            {{ form.is_reserved }}
                            <label>{{ form.is_reserved.label }}</label>
                        </div>
                    </div>
                </div>

                <div id="reservationFields" style="display: none;">
                    <div>
                        <div>
                            <label>{{ form.reserved_date.label }}</label>
                            {{ form.reserved_date }}
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>{{ form.reserved_time.label }}</label>
                            {{ form.reserved_time }}
                        </div>
                    </div>

                    <div>
                        <label>{{ form.new_activity.label }}</label>
                        {{ form.new_activity }}
                    </div>
                    
                </div>

                {% if error %}
                <div>
                    {{ error }}
                </div>
                {% endif %}

                <div>
                    <button type="submit">Guardar Cambios</button>
                    <a href="{% url 'calendar' %}">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const isReservedCheckbox = document.querySelector('#{{ form.is_reserved.id_for_label }}');
        const reservationFields = document.getElementById('reservationFields');
    
        function toggleReservationFields() {
            if (isReservedCheckbox.checked) {
                reservationFields.style.display = 'flex';
            } else {
                reservationFields.style.display = 'none';
            }
        }
    
        isReservedCheckbox.addEventListener('change', toggleReservationFields);
        toggleReservationFields();
    });
    </script>

{% endblock %}