{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <title>Lista-clientes</title>
</head>
<body>
    
</body>
</html>
<h1>Lista de Clientes</h1>

<!-- Mostrar mensajes de éxito -->
{% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color: green; font-weight: bold;">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Tabla de clientes -->
<div class="table">
<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Administrador</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.admin_name }}</td>
                <td>{{ client.admin_email }}</td>
                <td>{{ client.get_status_display }}</td>
                <td>
                    <a href="{% url 'client_detail' client.id %}">Detalles</a>
                    <span>|</span>
                    <a href="{% url 'client_edit' client.id %}">Editar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
