{% block content %}
<h1>Lista de Clientes</h1>

<!-- Mostrar mensajes de éxito -->
{% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color: green; font-weight: bold;">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<td>
    {% comment %} <a href="{% url 'client_edit' client.id %}" class="btn btn-primary btn-sm">Editar</a> {% endcomment %}
</td>

<!-- Tabla de clientes -->
<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Administrador</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.admin_name }}</td>
                <td>{{ client.admin_email }}</td>
                <td>{{ client.get_status_display }}</td>
                <td>
                    <a href="{% url 'client_detail' client.id %}">Detalles</a>
                    <a href="{% url 'client_edit' client.id %}">Editar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
