{% extends "pacientes/base/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
{% endblock %}

{% block left_content %}
<h1>Lista de Pacientes</h1>
<ul class="breadcrumbs">
    <li><a href="{% url 'patient_list' %}">Home</a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active">Pacientes</a></li>
</ul>
<div class="list-header">
    <a href="{% url 'new_patient' %}" class="btn-add">Agregar Paciente</a>
</div>
<div class="patient-list-container">
    <table id="patientTable" class="display table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Correo Electrónico</th>
                <th>Fecha de Registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.name }}</td>
                <td>{{ patient.surname }}</td>
                <td>{{ patient.phone_number }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.created_date|date:"d/m/Y" }}</td>
                <td class="actions-tab">
                    <a href="{% url 'patient_schedule' patient.id %}" class="btn btn-icon view" title="Ver detalles">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="{% url 'edit_patient' patient.id %}" class="btn-icon edit" title="Editar">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="{% url 'delete_patient' patient.id %}" class="btn-icon delete btn-danger btn-sm admin-only" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#patientTable').DataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
            },
            responsive: true,
            pageLength: 10,
            pagingType: 'full_numbers',
            dom: '<"top-container"lf>rt<"bottom"ip><"clear">',
        });
    });
</script>
{% endblock %}
