{% comment %} {% extends "registration/base_login.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<h1>Iniciar Sesión</h1>
<form method="post">
    {% csrf_token %}
    
    <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    
    <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    
    {% if form.non_field_errors %}
        <div class="error-message">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    
    <button type="submit">Ingresar</button>
</form>
<div class="forgot-password">
    <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
</div>
<div class="social-links">
    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
</div>
{% endblock %} {% endcomment %}