{% extends "pacientes/base/base.html" %}

{% block content %}

<div>
    <div>
        {% if specialist.profile_image %}
            <img src="{{ specialist.profile_image.url }}" alt="Foto de {{ specialist.name }}" 
                 class="img-fluid" style="max-width: 200px; margin-bottom: 20px;">
        {% endif %}
        <h5>{{ specialist.name }} {{ specialist.surname }}</h5>
        <p><strong>Especialidad:</strong> {{ specialist.specialty }}</p>
        <p><strong>DNI:</strong> {{ specialist.dni }}</p>
        <p><strong>Correo:</strong> {{ specialist.email }}</p>
        <p><strong>Teléfono:</strong> {{ specialist.phone }}</p>
        <p><strong>Rol:</strong> {{ specialist.get_role_display }}</p>
        <a href="{% url 'specialist_list' %}" class="text-purple-600">Volver</a>
    </div>
</div>
</div>

{% endblock %}
