<!-- administracion/templates/administracion/dashboard.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div>
        <p>Total de Clientes Activos: </p>
        <p>Ingresos Mensuales Proyectados: $</p>
        <p>Clientes en Estado de Morosidad: </p>
        <p>Usuarios Totales:</p>
    </div>

</body>
</html>
