{% extends "pacientes/base/base.html" %}
{% block content %}
<h1 class="title">Lista de salas</h1>
<ul class="breadcrumbs">
    <li><a href="{% url 'patient_list' %}">Home</a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active">Salas</a></li>
</ul>

<div class="data-list">
    <div class="list-header">
        <a href="{% url 'new_room' %}" class="btn-add">
            <i class='bx bx-plus'></i>
            Agregar
        </a>
    </div>

    <div class="room-list-container">
        {% if rooms %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Capacidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room.name }}</td>
                        <td>{{ room.capacity }}</td>
                        <td class="actions-tab">
                            <a href="" class="btn btn-icon view" title="Ver detalles">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <a href="{% url 'edit_room' room.id %}" class="btn btn-icon edit" title="Editar">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{% url 'delete_room' room.id %}" class="btn btn-icon delete" title="Eliminar">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="empty-state">
                <i class='bx bx-door-open'></i>
                <p>No hay salas registradas.</p>
            </div>
        {% endif %}
    </div>
    
</div>
{% endblock %}